.postLayout {
    background-color: #fffce3;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.postBody {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.postTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.readMoreBtn {
    background-color: #ff00aa;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 16px 20px;
    cursor: pointer;
}

.readMoreBtn:hover {
    transform: scale(1.1);
    background-color: #53093a;
    color: #fff;
}